.datepickerStyle2 {
  text-align: center;
}

.datepickerStyle2 .react-datepicker-wrapper {
  width: 100%;
}

/* .datepickerStyle1 .react-datepicker-wrapper .react-datepicker__input-container {
  text-align: center;
} */
