.dateStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 70px 0px 70px;
}

.headStyle {
  margin: 10px;
}

.errMsgStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 70px 10px 10px;
}
